
*.pickle
*.bc
*.xml
*.bat
*.log
*.launch
*.coe
*.dmp
*.jpg
*.txt
*.csv
jpeg/
fft_*/
*.jou
*.npy
**/*.xlsx
dnn_hw/
*.xpr
test_data/
*.directive
*.launch
.idea/

dnn_hls
convolver
LeNet*
fast_LeNet
C*
C*
lightFC
AlexNet
AlexNet_noFC
all_models_evaluation

py_env

dnn_python/__pycache__/
python_env/

reports/
dnn_python/tempForTest.py
training_dataset/
